.article-text{
    margin: 20px 0 40px;
    word-break: break-word;
}

.inline{
    display: flex;
    flex-direction: row;
}

.send{
    flex: none;
    cursor: pointer;
    background: url(../../assets/send.svg);
    background-position: top left;
    height: 60px;
    width: 60px;
    border: 0;
    margin-left: 20px;
}

.inline img{
    display: inline-block;
    margin-right: 20px;
    width: unset;
}

.article-img{
    display: inline-block;
    width: 100%;
}

.comment{
    display: flex;
    flex-direction: column;
}

.comment-container{
    margin: 20px 0;
}

