a{
    text-decoration:none;
}

section{
    height: calc(100vh - 124px);
    margin: 0 auto;
}

.page{
    height: 100vh;
    width: 60%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

header img{
    height: inherit;
}

.company-name{
    font-weight: 650;
    font-size: 2rem;
}

.article-count{
    color: #353535;
    font-size: 1.5rem;
}

.brand{
    display: inline-block;
}

.add-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    color: red;
}

.add-button-text{
    text-align: center;
    font-size: 14px;
}
